<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Data type bewerken</title>
    <meta name="description" content="Simple database display"/>
    <meta name="author" content="Rotterdam Academy"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/basic.css" type="text/css">
</head>
<body>
<main>
    <h1>Database onderzoek</h1>
    <a href="/data_types">Terug</a>
    <p>Data type van kolom {{ name }} bewerken:</p>
    <form method="POST">
        <input type="hidden" name="id" value="{{ id }}" />
        <select name="datatype">
            <option value="INTEGER" {% if type is INTEGER %} selected {% endif %}>INTEGER</option>
            <option value="VARCHAR" {% if type is VARCHAR %} selected {% endif %}>VARCHAR</option>
            <option value="CHAR" {% if type is CHAR %} selected {% endif %}>CHAR</option>
            <option value="TEXT" {% if type is TEXT %} selected {% endif %}>TEXT</option>
            <option value="DATE" {% if type is DATE %} selected {% endif %}>DATE</option>
            <option value="DATETIME" {% if type is DATETIME %} selected {% endif %}>DATETIME</option>
            <option value="TIME" {% if type is TIME %} selected {% endif %}>TIME</option>
        </select>
        <input type="submit" value="Opslaan" />
    </form>
</main>
</body>
</html>