<!DOCTYPE html>
<html lang="en">
<head>
    <title>Data types</title>
    {% include "head.html" %}
</head>
<body class="data_types_page">
<main>
    <h1>Database onderzoek</h1>
    <a href="/">Terug</a>
    <p>Datatype wijzigen van 'medewerker' en 'met pensioen' kolom in 'auteur' tabel:</p>
    <table>
        <thead>
        <tr>
            {% for column in columns %}
            <th>{{ column }}</th>
            {% endfor %}
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for row in rows %}
        <tr>
            <td>{{ row.0 }}</td>
            <td>{{ row.1 }}</td>
            <td>{{ row.2 }}</td>
            <td>{{ row.3 }}</td>
            <td>{{ row.4 }}</td>
            <td>{{ row.5 }}</td>
            <td><a href="/data_types/edit/{{ row.0 }}" class="buttonstyle_blue">Bewerken</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include "footer.html" %}
</main>
</body>
</html>