<!DOCTYPE html>
<html lang="en">
<head>
    <title>NULL waarden</title>
    {% include "head.html" %}
</head>
<body class="null_values_page">
<main>
    <h1>Database onderzoek</h1>
    <a href="/">Terug</a><br />
    <a href="/null_values/export" class="buttonstyle_blue">CSV export</a>
    <p>NULL waardes:</p>
    <table>
        <thead>
        <tr>
            {% for column in columns %}
            <th>{{ column }}</th>
            {% endfor %}
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for row in rows %}
        <tr>
            <td>{{ row.0 }}</td>
            <td>{{ row.1 }}</td>
            <td>{{ row.2 }}</td>
            <td>{{ row.3 }}</td>
            <td><a href="/null_values/edit/{{ row.0 }}" class="buttonstyle_blue">Bewerken</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include "footer.html" %}
</main>
</body>
</html>