<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Special characters</title>
    <meta name="description" content="Simple database display"/>
    <meta name="author" content="Rotterdam Academy"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/basic.css" type="text/css">
</head>
<body>
<main>
    <h1>Database onderzoek</h1>
    <p>Special characters:</p>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Leerdoel</th>
            <th>Vraag</th>
            <th>Auteur</th>
        </tr>
        </thead>
        <tbody>
        {% for row in rows %}
        <tr>
            <td>{{ row.0 }}</td>
            <td>{{ row.1 }}</td>
            <td><textarea>{{ row.2 }}</textarea></td>
            <td>{{ row.3 }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</main>
</body>
</html>